<nav class="navbar navbar-expand-lg">
  <a href="/" class="navbar-logo"> </a>
  <ul class="navbar-nav">
    <li class="nav-item" routerLink="home" routerLinkActive="active">
      <a class="nav-links">
        <fa-icon [icon]="inicioIcon"></fa-icon>
        Inicio
      </a>
    </li>
    <li class="nav-item" routerLink="cliente" routerLinkActive="active">
      <a class="nav-links">
        <fa-icon [icon]="clientesIcon"></fa-icon>
        Clientes
      </a>
    </li>
    <li class="nav-item" routerLink="venta" routerLinkActive="active">
      <a class="nav-links">
        <fa-icon [icon]="ventasIcon"></fa-icon>
        Ventas
      </a>
    </li>
    <li class="nav-item" routerLink="material" routerLinkActive="active">
      <a class="nav-links">
        <fa-icon [icon]="materialesIcon"></fa-icon>
        Materiales
      </a>
    </li>
    <li class="nav-item" routerLink="proveedor" routerLinkActive="active">
      <a class="nav-links">
        <fa-icon [icon]="proveedoresIcon"></fa-icon>
        Proveedores
      </a>
    </li>
    <li class="nav-item" routerLink="pedido" routerLinkActive="active">
      <a class="nav-links">
        <fa-icon [icon]="pedidosIcon"></fa-icon>
        Pedidos
      </a>
    </li>
    <li class="nav-item" routerLink="empleado" routerLinkActive="active">
      <a class="nav-links">
        <fa-icon [icon]="empleadosIcon"></fa-icon>
        Empleados
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/" class="nav-links">
        <fa-icon [icon]="ingresarIcon"></fa-icon>
        Ingresar
      </a>
    </li>
  </ul>
</nav>
