<div class="main animate__animated animate__fadeIn">
  <h1>PROVEEDORES</h1>
  <form class="form-inline">
    <div class="form-group mb-2">
      <button type="button" class="btn btn-info" (click)="show()">
        Agregar nuevo Proveedor
      </button>
    </div>
    <div>
      <label for="inputPassword2" class="sr-only">nombre de Proveedor</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nombre del Proveedor"
      />
    </div>
    <button class="btn btn-info">Buscar</button>
  </form>

  <div class="tabla">
    <table class="table">
      <thead class="thead-dark table-head">
        <tr>
          <th>Empresa</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tr *ngFor="let proveedor of proveedores">
        <td>{{ proveedor.nombreEmpresa }}</td>
        <td>{{ proveedor.direccion }}</td>
        <td>{{ proveedor.telefono }}</td>
        <td>
          <button class="btn btn-danger">eliminar</button>
          <button class="btn btn-warning">compras</button>
          <button class="btn btn-success">editar</button>
        </td>
      </tr>
    </table>
  </div>
</div>


<!-- Creates the bootstrap modal where the image will appear -->
<div
  [style.display]="showModal ? 'block' : 'none'"
  class="modal"
  id="imagemodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Proveedor</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="nombreEmpresa"
            id="formGroupExampleInput"
            placeholder="NOMBRE DE EMPRESA"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="direccion"
            id="formGroupExampleInput2"
            placeholder="DIRECCION"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            formControlName="telefono"
            id="formGroupExampleInput3"
            placeholder="TELEFONO"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="addProveedor()">Guardar</button>
        <button
          type="button"
          class="btn btn-dark"
          data-dismiss="modal"
          (click)="hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>