<div class="main animate__animated animate__fadeIn">
  <h1>PROVEEDORES</h1>
  <form class="form-inline">
    <div class="form-group mb-2">
      <button type="button" class="btn btn-info" (click)="show()">
        Agregar nuevo Proveedor
      </button>
    </div>
    <div>
      <label for="inputPassword2" class="sr-only">nombre de Proveedor</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nombre del Proveedor"
      />
    </div>
    <button class="btn btn-info">Buscar</button>
  </form>

  <div class="tabla">
    <table class="table">
      <thead class="thead-dark table-head">
        <tr>
          <th>Empresa</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tr *ngFor="let proveedor of proveedores">
        <td>{{ proveedor.nombreEmpresa }}</td>
        <td>{{ proveedor.direccion }}</td>
        <td>{{ proveedor.telefono }}</td>
        <td>
          <button class="btn btn-success" (click)="editarProveedor(proveedor)">
            editar
          </button>
          <button class="btn btn-danger" (click)="eliminarProveedor(proveedor)">
            eliminar
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- Creates the bootstrap modal where the image will appear -->
<div
  [style.display]="showModal ? 'block' : 'none'"
  class="modal"
  id="imagemodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input
              type="text"
              formControlName="nombreEmpresa"
              [(ngModel)]="proveedor.nombreEmpresa"
              class="form-control"
              placeholder="Nombre de Empresa"
              [ngClass]="{ 'is-invalid': submitted && f.nombreEmpresa.errors }"
            />
            <div
              *ngIf="submitted && f.nombreEmpresa.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.nombreEmpresa.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              formControlName="direccion"
              [(ngModel)]="proveedor.direccion"
              class="form-control"
              placeholder="Dirección"
              [ngClass]="{ 'is-invalid': submitted && f.direccion.errors }"
            />
            <div
              *ngIf="submitted && f.direccion.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.direccion.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              formControlName="telefono"
              [(ngModel)]="proveedor.telefono"
              class="form-control"
              placeholder="Telefono"
              [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }"
            />
            <div
              *ngIf="submitted && f.comentario.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.telefono.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="addProveedor()">
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-dark"
          data-dismiss="modal"
          (click)="hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
