<div class="container">
    <h1>VENTAS</h1>
    <div class="form-group">
        <input type="text" placeholder="Nombre del articulo" class="form-control" id="usr">
        <button class="btn btn-primary">buscar</button>
    </div>
      <!-- <div class="form-group">
        
      </div> -->

    <div class="objetosagregar">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Material</th>
                    <th>Marca</th>
                    <th>Tipo</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Accion</th> 
                </tr>
            </thead>  
            <tr>
                Contenido!!
            </tr>  
        </table>
    </div>

    <h3>Materiales a vender</h3>

    <div class="objetoseliminar">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Materiales (Descripción)</th>
                    <th>Cantidad</th>
                    <th>Pago</th>
                    <th>Acción</th>
                    
                </tr>
            </thead>  
            <tr>
                Contenido!!
            </tr>  
        </table>
    </div>

    <button class="btn btn-primary">Guardar</button>
</div>