<div class="main animate__animated animate__fadeIn">
  <h1>VENTAS</h1>
  <form class="form-inline col-3">
    <div class="form-group">
      <input
        type="text"
        placeholder="Nombre del articulo"
        class="form-control"
        id="usr"
      />
    </div>
    <div class="col-3">
      <button class="btn btn-info">buscar</button>
    </div>
  </form>
  <!-- <div class="form-group">

      </div> -->

  <div class="tabla">
    <table class="table">
      <thead class="thead-dark table-head">
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.tipo }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>
          <button class="btn btn-danger">eliminar</button>
          <button class="btn btn-warning">compras</button>
          <button class="btn btn-success">editar</button>
        </td>
      </tr>
    </table>
  </div>

  <h3 class="text-center">Materiales a vender</h3>

  <div class="tabla">
    <table class="table">
      <thead class="thead-dark table-head">
        <tr>
          <th>Materiales (Descripción)</th>
          <th>Fecha</th>
          <th>Pago</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tr *ngFor="let venta of ventas">
        <td>{{ venta.descripcion }}</td>
        <td>{{ venta.fecha }}</td>
        <td>{{ venta.pago }}</td>
        <td>
          <button class="btn btn-danger">eliminar</button>
          <button class="btn btn-warning">compras</button>
          <button class="btn btn-success">editar</button>
        </td>
      </tr>
    </table>
  </div>
  <div class="text-center">
    <button class="guardar btn btn-info">Guardar</button>
  </div>
</div>
