<section class="main animate__animated animate__fadeIn">
  <h1>CLIENTES</h1>
  <form class="form-inline">
    <div class="form-group mb-2">
      <button type="button" class="btn btn-info" (click)="show()">
        Agregar nuevo cliente
      </button>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <label for="inputPassword2" class="sr-only">C.I. de Cliente</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword2"
        placeholder="nombre de cliente"
      />
    </div>
    <button type="submit" class="btn btn-info mb-2">Buscar</button>
  </form>

  <div class="tabla contenido">
    <table class="table">
      <thead class="thead-dark table-head">
        <tr>
          <th scope="col">C.I.</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes">
          <td>{{ cliente.ci }}</td>
          <td>{{ cliente.name }}</td>
          <td>{{ cliente.apPaterno }}</td>
          <td>{{ cliente.apMaterno }}</td>
          <td>
            <button class="btn btn-danger" (click)="eliminarCliente(cliente)">
              Eliminar
            </button>
            <button class="btn btn-warning">compras</button>
            <button class="btn btn-success" (click)="editarCliente(cliente)">
              editar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<!-- <div class="container">
  <h1 class="text-center">Login with bootstrap popup</h1>
  <button type="button" class="btn btn-info" (click)="show()">Login</button>
</div> -->
<!-- Creates the bootstrap modal where the image will appear -->
<div
  [style.display]="showModal ? 'block' : 'none'"
  class="modal"
  id="imagemodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Cliente</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input
            type="text"
            name="clienteCI"
            [(ngModel)]="cliente.ci"
            class="form-control"
            id="clienteCI"
            placeholder="CI"
            minlength="4"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="cliente.name"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="Nombre"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="cliente.apPaterno"
            class="form-control"
            id="formGroupExampleInput3"
            placeholder="Apellido Paterno"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="cliente.apMaterno"
            id="formGroupExampleInput4"
            placeholder="Apellido Materno"
          />
        </div>
        <!-- </form> -->
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="agregarCliente()">
          Guardar
        </button>
        <button class="btn btn-dark" data-dismiss="modal" (click)="hide()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
