<div class="main animate__animated animate__fadeIn">
  <h1>MATERIALES</h1>
  <form class="form-inline">
    <div class="form-group mb-2">
      <button type="button" class="btn btn-info" (click)="show()">
        Agregar nuevo material
      </button>
    </div>
    <div>
      <label for="inputPassword2" class="sr-only">C.I. de Cliente</label>
      <input
        type="text"
        class="form-control"
        placeholder="Nombre del Material"
      />
    </div>
    <button class="btn btn-info">Buscar</button>
  </form>

  <div class="tabla">
    <table class="table">
      <thead class="thead-dark table-head">
        <tr>
          <th>Nombre</th>
          <th>Tipo</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Accion</th>
        </tr>
      </thead>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.tipo }}</td>
        <td>{{ producto.precio }}</td>
        <td>{{ producto.cantidad }}</td>
        <td>
          <button class="btn btn-danger">eliminar</button>
          <button class="btn btn-warning">compras</button>
          <button class="btn btn-success">editar</button>
        </td>
      </tr>
    </table>
  </div>
</div>

<div
  [style.display]="showModal ? 'block' : 'none'"
  class="modal"
  id="imagemodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Material</label>
            <input
              type="text"
              formControlName="material"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.material.errors }"
            />
            <div
              *ngIf="submitted && f.material.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.material.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Pago</label>
            <input
              type="text"
              formControlName="pago"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.pago.errors }"
            />
            <div *ngIf="submitted && f.pago.errors" class="invalid-feedback">
              <div *ngIf="f.pago.errors.required">Este campo es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label>Fecha</label>
            <input
              type="text"
              formControlName="fecha"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }"
            />
            <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
              <div *ngIf="f.fecha.errors.required">Este campo es requerido</div>
            </div>
          </div>
          <div class="form-group">
            <label>Comentario</label>
            <input
              type="text"
              formControlName="comentario"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.comentario.errors }"
            />
            <div
              *ngIf="submitted && f.comentario.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.comentario.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>CI de empleado</label>
            <input
              type="text"
              formControlName="ciempleado"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.ciempleado.errors }"
            />
            <div
              *ngIf="submitted && f.ciempleado.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.ciempleado.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Id de proveedor</label>
            <input
              type="text"
              formControlName="idproveedor"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.idproveedor.errors }"
            />
            <div
              *ngIf="submitted && f.idproveedor.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.idproveedor.errors.required">
                Este campo es requerido
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" type="submit" (click)="addMaterial()">
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-dark"
          data-dismiss="modal"
          (click)="hide()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
