<div class="container">
    <h1>PEDIDOS</h1>
    <form>
        <div class="form-row">
          <div class="col-7">
            <button class="btn btn-success">Agregar nuevo pedido</button>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" placeholder="Nombre del Material" >
          </div>
          <div class="col-1">
            <button class="btn btn-primary">Buscar</button>
          </div>
        </div>
      </form>

      <div class="objetos">
        <table class="table m-2">
            <thead class="thead-dark">
                <tr>
                    <th>Material</th>
                    <th>Pago</th>
                    <th>Fecha</th>
                    <th>Comentario</th>
                    <th>CI Empleado</th>
                    <th>ID Proveedor</th> 
                    <th>Acción</th> 
                </tr>
            </thead>  
            <tr>
                Contenido!!
            </tr>  
        </table>
    </div>
</div>